/******************************************************************************
	VARIABLES
******************************************************************************/

/* :root {
	--header-height: 70px;
	--color-black: #000;
	--color-gray1: #111;
	--color-gray2: #222;
	--color-grayc: #ccc;
	--color-graye: #eee;
	--color-white: #fff;
	--color-bbblu: #b6d9ff;
	--color-slate: #7c96b2;
	--color-onyxx: #3e4047;
} */

/******************************************************************************
	FONTS
******************************************************************************/

@import url('https://fonts.googleapis.com/css2?family=Jim+Nightshade&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html,
body {
    font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 400;
    line-height: 1.25;
}
h1, h2, h3 {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    line-height: 1.5;
    text-transform: uppercase;
	font-variant-numeric: lining-nums;
	font-feature-settings:"lnum" 1;
}
h1 > .accent, h2 > .accent, h3 > .accent {
	display: block;
	font-family: 'Jim Nightshade', sans-serif;
	font-size: 250%;
	margin-bottom: -60px;
	opacity: 0.125;
	text-transform: capitalize;
}
/* .heading {
	border-bottom: 2px solid var(--color-grayc);
    color: var(--color-grayc);
    display: inline-block;
	font-size: 28px;
    margin: 30px auto;
    text-align: center;
}
.sub-heading {
	color: var(--color-grayc);
    display: block;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 3px;
    margin: 20px auto;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
}
b, strong {
	font-weight: inherit;
    font-weight: bolder;
} */

/******************************************************************************
	LAYOUT
******************************************************************************/

/*	HTML, BODY, SECTIONS ----------------------------------------------------*/

section {
	padding: 100px 0;
}

/******************************************************************************
	COMMON UI
******************************************************************************/

/*	BUTTONS -----------------------------------------------------------------*/

/* .button {
	background-color: var(--color-grayc);
	border: none;
	border-radius: 0;
	color: var(--color-gray2);
	cursor: pointer;
	font-family: 'Poppins', 'Arial', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 8px 16px;
	transition: all .2s ease-in-out;
}
.button:hover,
.button.active {
	background-color: var(--color-white);
}
.button-group {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 40px;
} */

/*	BUTTONS > CTA -----------------------------------------------------------*/

/* .button.cta {
	align-items: center;
	background-color: var(--color-white);
	border: none;
	border-radius: 0;
	color: var(--color-gray2);
	display: flex;
	flex-direction: row;
	font-size: 16px;
	font-weight: 500;
	gap: 15px;
	justify-content: center;
	margin: 0 auto;
	padding: 10px 15px;
	transition: all .2s ease-in-out;
}
.button.cta:hover {
	background-color: var(--color-grayc);
}
.button.cta .svg-wrapper {
	width: 30px;
}
.button.cta .svg-wrapper svg {
	fill: var(--color-gray2);
} */

/*	BUTTONS > SECONDARY -----------------------------------------------------*/

/* .button.cta.secondary {
	background-color: transparent;
	border: 3px solid;
	color: var(--color-white);
}
.button.cta.secondary:hover {
	color: var(--color-grayc);
}
.button.cta.secondary .svg-wrapper svg {
	fill: var(--color-white);
	transition: all .2s ease-in-out;
}
.button.cta.secondary:hover .svg-wrapper svg {
	fill: var(--color-grayc);
} */

nav .btn-primary a {
	color: var(--bs-btn-color);
}

nav .btn:hover a, 
nav .btn:hover a span {
	color: var(--bs-btn-hover-color);
}


/*	LABELS ------------------------------------------------------------------*/

/* .label {
	display: block;
	font-size: 85%;
	font-weight: 600;
	letter-spacing: 2px;
	text-transform: uppercase;
} */

/*	LINKS -------------------------------------------------------------------*/

/* a {
	color: var(--color-bbblu);
	text-decoration: none;
	background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
a:hover {
	color: var(--color-slate);
}

a.external-link {
	display: inline-block;
}
a.external-link .svg-wrapper {
    float: left;
	height: 16px;
	margin: 2px 10px 0 0;
	width: 16px;
}
a.external-link .svg-wrapper svg {
	fill: var(--color-bbblu);
}
a.external-link:hover .svg-wrapper svg {
	fill: var(--color-slate);
} */

/*	SVGS --------------------------------------------------------------------*/

/* .svg-wrapper svg {
	display: block;
	fill: var(--color-white);
	height: auto;
	width: 100%;
} */

/*	SOCIAL MEDIA ------------------------------------------------------------*/

/* .social-media {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	list-style: none;
	padding: 0;
	margin: 0 auto 100px;
	width: 256px;
}
.social-media svg {
	width: 30px;
	height: auto;
} */

/******************************************************************************
    SITE > HEADER
******************************************************************************/

/*	BRAND -------------------------------------------------------------------*/
.navbar-brand img {
	width: 100px;
	height: auto;
}
.navbar-brand h1 {
	font-size: 20px;
}

/*	NAV MENU ----------------------------------------------------------------*/

/*	NAV MENU > MENU ITEMS ---------------------------------------------------*/
.navbar-nav .menu-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.navbar-nav .button a {
	--bs-btn-color: #fff;
	--bs-btn-bg: #0d6efd;
	--bs-btn-border-width: var(--bs-border-width);
	--bs-btn-border-color: transparent;
	--bs-btn-border-radius: var(--bs-border-radius);
	--bs-btn-hover-border-color: transparent;
	--bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),0 1px 1px rgba(0, 0, 0, 0.075);
	--bs-btn-disabled-opacity: 0.65;
	--bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
	display: inline-block;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	margin: .25rem .125rem;
	padding: 0.75rem 0.375rem !important;
	color: var(--bs-btn-color);
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
	border-radius: var(--bs-btn-border-radius);
	background-color: var(--bs-btn-bg);
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
/******************************************************************************
	SITE > FOOTER
******************************************************************************/

footer nav#nav-social-footer .link-text {
	display: none;
}

/******************************************************************************
	SECTIONS > 404
******************************************************************************/

#error-404 {
	height: calc( 100vh - var(--header-height) );
}

/******************************************************************************
	SECTIONS > CONTACT
******************************************************************************/

#contact {
	background-color: var(--color-onyxx);
}
#contact p {
	color: var(--color-white);
	margin-bottom: 40px;
}
.form-control {
	background-color: var(--color-graye);
	border: none;
	display: block;
	font-size: 16px;
	margin-bottom: 10px;
	outline: none;
	padding: 10px;
	width: 100%;
}
textarea.form-control {
	height: 120px;
	resize: none;
}
.form-group span:first-child {
	display: block;
	margin-bottom: 10px;
}
#submit {
	cursor: pointer;
}
.wpcf7 .row {
	margin-bottom: 20px;
}
.wpcf7 .form-item {
	width: 100%;
}
.wpcf7 .column-6 {
	justify-content: space-between;
}
.wpcf7 label {
	color: var(--color-white);
	width: 100%;
}
.wpcf7-not-valid-tip {
	margin-bottom: 10px;
}
.wpcf7 .wpcf7-response-output {
	background-color: var(--color-white);
    margin: 0;
	text-align: center;
}

@media only screen and (min-width: 768px) {
	body.page-contact #contact {
		height: calc( 100vh - var(--header-height) );
	}
}

/******************************************************************************
	PAGES > HOME
******************************************************************************/

/*	HOME > FEATURED PORTFOLIO -----------------------------------------------*/

.category {
	margin-bottom: 50px;
}

/******************************************************************************
	SECTIONS > HERO
******************************************************************************/
section#hero {
	background-image: url('../../img/lodge-photo-sm.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 360px;
}
section#hero h1,
section#hero h2 {
	color: #fff;
	display: none;
}
@media only screen and (min-width: 768px) {
	section#hero {
		background-image: url('../../img/lodge-photo-lg.jpg');
		background-position: center center;
		padding: 175px 0;
	}
	section#hero h1,
	section#hero h2 {
		display: block;
	}
}


/******************************************************************************
	PLUGINS
******************************************************************************/

/*	Google reCAPTCHA --------------------------------------------------------*/

.grecaptcha-badge {
    display: none !important;
}

/*	GLightbox ---------------------------------------------------------------*/

.glightbox-clean .gslide-description {
    background-color: var(--color-onyxx);
}
.glightbox-clean .gslide-title {
	color: var(--color-white);
	font-family: 'Poppins', Arial, sans-serif;
	font-weight: 500;
}
.glightbox-clean .gslide-desc {
	color: var(--color-white);
	font-family: 'Poppins', Arial, sans-serif;
	font-weight: 200;
}